* {
    box-sizing: border-box;
}

/* Header & Body */

header {
    background-color: rgba(255, 250, 247, 0.346);
    height: 7rem;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    background-image: url(Images/soft-gradient-abstract-in-pastel-purple-and-pink-colors-gradient-background-blurred-gradient-texture-decorative-element-wallpaper-vector.jpg);
    background-attachment: fixed;
}

/* Text & Font */

@font-face {
    font-family: "Lemon Milk Bold";
    src: url(Fonts/LEMONMILK-Bold.otf);
}

h1 {
    margin: 0 auto;
    color: #000000;
    text-align: center;
    font-size: 4rem;
    font-family: "Lemon Milk Bold";
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-family: "Lemon Milk Bold";
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.subheader {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}

/* Content Boxes */

.Flex {
    display: flex;
    justify-content: space-evenly;
}

.OmMeg {
    background-color: rgba(255, 250, 247, 0.346);
    margin-top: 2%;
    margin-right: 2%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-om-meg {
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.KontaktInfo {
    background-color: rgba(255, 250, 247, 0.346);
    margin-top: 2%;
    margin-left: 2%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.utdanning {
    background-color: rgba(255, 250, 247, 0.346);
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 15rem;
    padding-top: 1rem;
}

.utdanning-p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    line-height: 2rem;
}

/* Skill Bars */

.MineFerdigheter {
    background-color: rgba(255, 250, 247, 0.346);
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 35rem;
    padding-top: 1rem;
}

.bar {
    display: flex;
    width: 50%;
    background-color: black;
    margin: 10px 0px;
    margin-left: 25%;
    margin-bottom: 2%;
}

.html {
    width: 40%;
    background-image: url(Images/soft-gradient-abstract-in-pastel-purple-and-pink-colors-gradient-background-blurred-gradient-texture-decorative-element-wallpaper-vector.jpg);
    height: 20px;
    
}

.CSS {
    width: 25%;
    background-image: url(Images/soft-gradient-abstract-in-pastel-purple-and-pink-colors-gradient-background-blurred-gradient-texture-decorative-element-wallpaper-vector.jpg);
    height: 20px;
}

.ILLUSTRATOR {
    height: 20px;
    width: 45%;
    background-image: url(Images/soft-gradient-abstract-in-pastel-purple-and-pink-colors-gradient-background-blurred-gradient-texture-decorative-element-wallpaper-vector.jpg);
}

.FruityLoopsStudio {
    height: 20px;
    width: 70%;
    background-image: url(Images/soft-gradient-abstract-in-pastel-purple-and-pink-colors-gradient-background-blurred-gradient-texture-decorative-element-wallpaper-vector.jpg);
}

/* Images */

img {
    margin-top: 1.7rem;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer */

footer {
    background-color: rgba(255, 250, 247, 0.346);
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 7rem;
}